@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "Inter", sans-serif;
        background-color: #0C0B24;
    }
}

@layer components {
    .text-gradient {
        color: transparent; 
        background: linear-gradient(to top, #2E236C, #C8ACD6); 
        -webkit-background-clip: text; 
        background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

    .button-gradient {
        background: linear-gradient(to right, #2E236C, #433D8B);
    }
}
